:root{
	/* Card colors */
	--paper-white: #ffffff;
	--border-black: #080000;
    /* Set colors */
    --ogn-orange:#ef7d01;
    --sfd-magenta:#d12379;

    /* Domain colors*/
    --fury-hi: #df1620; --fury-lo: #8e0308;
    --calm-hi: #488c38; --calm-lo: #295d24;
    --mind-hi: #0f6fa6; --mind-lo: #003f6b;
    --body-hi: #e87600; --body-lo: #bd3e19;
    --chaos-hi: #6a4094; --chaos-lo: #421a79;
    --order-hi: #d2b400; --order-lo: #a27521;

    /* Frame colors */
    --bronze: #9f5e13; --silver-hi: #a1a1a1; --silver-lo: #727272; --gold: #e2b73e;

    /* Keyword colors */
    --kw-green: #96b430; --kw-gray: #707070; --kw-magenta: #cd3971; --kw-teal: #067361;
}
[data-domain] {--c-hi: var(--silver-hi); --c-lo: var(--silver-lo);}
[data-domain="fury"] {--c-hi: var(--fury-hi); --c-lo: var(--fury-lo);}
[data-domain="calm"] {--c-hi: var(--calm-hi); --c-lo: var(--calm-lo);}
[data-domain="mind"] {--c-hi: var(--mind-hi); --c-lo: var(--mind-lo);}
[data-domain="body"] {--c-hi: var(--body-hi); --c-lo: var(--body-lo);}
[data-domain="chaos"] {--c-hi: var(--chaos-hi); --c-lo: var(--chaos-lo);}
[data-domain="order"] {--c-hi: var(--order-hi); --c-lo: var(--order-lo);}

[data-rarity="common"] {--c-rarity: var(--bronze);}
[data-rarity="uncommon"] {--c-rarity: var(--silver-hi);}
[data-rarity="rare"] {--c-rarity: var(--gold);}
[data-rarity="epic"] {--c-rarity: var(--body-hi);}
[data-rarity="showcase"] {--c-rarity: var(--kw-magenta);}

* {
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	place-items: center;
}

.text-name {
	font-family: Alegreya;
	font-size: 1rem;
	font-weight: bold;
}

.text-subname {
	font-family: Cinzel;
	font-weight: normal;
}

body {
	color: var(--paper-white);
	background-color: var(--mind-lo);
}

table {
	background-color: var(--border-black);
	border: none;
	border-spacing: 0 3px;
}

tr {
	&[data-domain] {
		background: linear-gradient( in oklab
			105deg, var(--c-lo), var(--c-hi) 15% 60%, var(--c-lo) 90%
		);
	}

	&:hover {
		& td {
			backdrop-filter: brightness(0.8);
		}
	}
}

td {
	border-top: 1px solid var(--c-rarity);
	border-bottom: 1px solid var(--c-rarity);

	background: padding-box
		linear-gradient(
			var(--border-black), var(--border-black)
		) top / 100% 1px no-repeat,
		linear-gradient(
			var(--border-black), var(--border-black)
		) bottom / 100% 1px no-repeat
	;

	padding: 0.2em;
	max-width: 90em;
}