:root{
	/* Card colors */
	--paper-white: #ffffff;
	--border-black: #080000;
    /* Set colors */
    --ogn-orange:#ef7d01;
    --sfd-magenta:#d12379;

    /* Domain colors*/
    --fury-hi: #df1620; --fury-lo: #8e0308;
    --calm-hi: #488c38; --calm-lo: #295d24;
    --mind-hi: #0f6fa6; --mind-lo: #003f6b;
    --body-hi: #e87600; --body-lo: #bd3e19;
    --chaos-hi: #6a4094; --chaos-lo: #421a79;
    --order-hi: #d2b400; --order-lo: #a27521;

    /* Frame colors */
    --bronze: #9f5e13; --silver-hi: #a1a1a1; --silver-lo: #727272; --gold: #e2b73e;

    /* Keyword colors */
    --kw-green: #96b430; --kw-gray: #707070; --kw-magenta: #cd3971; --kw-teal: #067361;

    /* Global variable defaults */
    --c-bg: var(--border-black);
    --c-fg: var(--paper-white);
}



[data-domain] {--c-domain-hi: var(--silver-hi); --c-domain-lo: var(--silver-lo);}
[data-domain="fury"] {--c-domain-hi: var(--fury-hi); --c-domain-lo: var(--fury-lo);}
[data-domain="calm"] {--c-domain-hi: var(--calm-hi); --c-domain-lo: var(--calm-lo);}
[data-domain="mind"] {--c-domain-hi: var(--mind-hi); --c-domain-lo: var(--mind-lo);}
[data-domain="body"] {--c-domain-hi: var(--body-hi); --c-domain-lo: var(--body-lo);}
[data-domain="chaos"] {--c-domain-hi: var(--chaos-hi); --c-domain-lo: var(--chaos-lo);}
[data-domain="order"] {--c-domain-hi: var(--order-hi); --c-domain-lo: var(--order-lo);}

[data-badge], [data-badge="tag"] {--c-bg: var(--border-black);}
[data-badge="type"] {
	--c-bg: #0002;
	&:hover {
		--c-bg: var(--c-domain-hi);
	}
}
[data-badge="green"] {--c-bg: var(--kw-green);}
[data-badge="gray"] {--c-bg: var(--kw-green);}
[data-badge="magenta"] {--c-bg: var(--kw-magenta);}
[data-badge="teal"] {--c-bg: var(--kw-teal);}

[data-rarity="common"] {--c-rarity: var(--bronze);}
[data-rarity="uncommon"] {--c-rarity: var(--silver-hi);}
[data-rarity="rare"], [data-rarity="epic"], [data-rarity="showcase"] {--c-rarity: var(--gold);}

* {
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	place-items: center;
}

.text-name {
	font-family: Alegreya;
	font-size: 1rem;
	font-weight: 700;
}

.text-subname {
	font-family: AlegreyaSC;
	font-weight: normal;
}

.text-description {
	font-family: AlegreyaSans;
	font-weight: 500;
}

body {
	color: var(--paper-white);
	background-color: var(--mind-lo);
}

table {
	background-color: var(--border-black);
	border: none;
	border-spacing: 0 3px;
}

tr {

	&[data-domain] {
		background: linear-gradient( in oklab
			105deg, var(--c-domain-lo), var(--c-domain-hi) 15% 60%, var(--c-domain-lo) 90%
		);
	}

	&:hover {
		& td {
			backdrop-filter: brightness(0.8);
		}
	}
}

td {
	&:first-child {padding-left: 2vw;}
	&:last-child {padding-right: 2vw;}

	border-top: 1px solid var(--c-rarity);
	border-bottom: 1px solid var(--c-rarity);

	background: padding-box
		linear-gradient(
			var(--border-black), var(--border-black)
		) top / 100% 1px no-repeat,
		linear-gradient(
			var(--border-black), var(--border-black)
		) bottom / 100% 1px no-repeat
	;

	padding: 0.2em;
	max-width: 90em;
}

mark.badge {
	font-size: 0.8em;
	display: inline-block;
	padding: 0.1em 0.7em 0.1em 0.5em;
	font-family: AlegreyaSans;
	font-weight: 700;
	font-style: oblique 10deg;
	/*font-style: italic;*/
	text-transform: uppercase;
	background: var(--c-bg);
	color: var(--c-fg);
	clip-path: polygon(
		var(--slant, 0.25em) 0,
		100% 0,
		calc(100% - var(--slant, 0.25em)) 100%,
		0 100%
	);

	[data-rarity="epic"] &, [data-rarity="showcase"] & {
		--c-fg: var(--gold);
		--c-bg: #0002;
	}

	&:hover:not([data-badge="type"]) {
		color: var(--c-domain-lo);
		background: var(--c-fg);
	}
}