:root{
	/* Card colors */
	--paper-white: #ffffff;
	--border-black: #080000;
    /* Set colors */
    --ogn-orange:#ef7d01;
    --sfd-magenta:#d12379;

    /* Domain colors*/
    --fury-hi: #df1620; --fury-lo: #8e0308;
    --calm-hi: #488c38; --calm-lo: #295d24;
    --mind-hi: #0f6fa6; --mind-lo: #003f6b;
    --body-hi: #e87600; --body-lo: #bd3e19;
    --chaos-hi: #6a4094; --chaos-lo: #421a79;
    --order-hi: #d2b400; --order-lo: #a27521;

    /* Frame colors */
    --bronze: #9f5e13; --silver-hi: #a1a1a1; --silver-lo: #727272; --gold: #e2b73e;

    /* Keyword colors */
    --kw-green: #96b430; --kw-gray: #707070; --kw-magenta: #cd3971; --kw-teal: #067361;
}